<div class="news">
    {% if site.micro  %}
      <table class="micro">
      {% assign micro = site.micro | reverse %}
      {% for item in micro limit: site.micro_limit %}
      {% assign y = item.url | slice: 7, 4 %}
      {% assign m = item.url | slice: 11, 2 %}
      {% assign d = item.url | slice: 13, 2 %}
        <tr class="micro">
          <td class="date">{{ y }}-{{ m }}-{{ d }} </td>
          <td >
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>No microblog posts so far...</p>
    {% endif %}
  </div>